body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
nav {
  background: #000;
  color: #fff;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background: grey;
  padding: 10px;
  border-radius: 5px;
}
.search input {
  border: none;
  outline: none;
  padding: 3px;
  background-color: transparent;
}

.searcInput::placeholder {
  color: rgb(207, 207, 207);
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
  /* margin-right: 60px; */
}

.navbottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItems {
  cursor: pointer;
  margin-right: 25px;
  color: rgb(175, 174, 174);
}
.menuItems:hover {
  color: #fff;
}
.slider {
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 1% 91%); */
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);

  /* clip-path: polygon(0 0, 100% 0%, 89% 100%, 0% 100%); */
}
.sliderwrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}
.slideritems {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderimg {
  z-index: 1;
}

.sliderTittle {
  position: absolute;
  text-shadow: 1px 1px 8px;
  top: 10%;
  right: -25%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  text-shadow: 1px 1px 1px rgb(133, 133, 133);
  position: absolute;
  top: 10%;
  left: -23%;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border: 1px solid rgb(143, 143, 143);
  z-index: 1;
}
.bybtn {
  position: absolute;
  top: 50%;
  right: -12%;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #000;
  /* border: 1px solid rgb(143, 143, 143); */
  z-index: 1;
  border-radius: 5px;
}

.bybtn:hover {
  background: #fff;
  color: #000;
}
.slideritems:nth-child(1) .sliderBg {
  background: #2ba543;
}
.slideritems:nth-child(2) .sliderBg {
  background: #2874a6;
}
.slideritems:nth-child(3) .sliderBg {
  background: #e34f8e;
}
.slideritems:nth-child(4) .sliderBg {
  background: #6c3483;
}
.slideritems:nth-child(5) .sliderBg {
  background: #138d75;
}

.slideritems:nth-child(1) .sliderPrice {
  color: #2ba543;
}
.slideritems:nth-child(2) .sliderPrice {
  color: #2874a6;
}
.slideritems:nth-child(3) .sliderPrice {
  color: #e34f8e;
}
.slideritems:nth-child(4) .sliderPrice {
  color: #6c3483;
}
.slideritems:nth-child(5) .sliderPrice {
  color: #138d75;
}

/** feature style  */
.fetures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 15px;
  font-weight: 900;
  margin: 10px;
}
.featureDesc {
  font-size: 14px;
  font-weight: 600;
  color: rgb(64, 70, 77);

  width: 50%;
  height: 100px;
}

/* *product */

.product {
  height: 100vh;
  background-color: rgb(136 136 137 / 16%);
  clip-path: polygon(0 0, 260% 9%, 100% 100%, 0% 100%);
  position: relative;
}
.payment {
  width: 500px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 -1px 22.5px -2px #000000;
  -moz-box-shadow: 0 -1px 22.5px -2px #000000;
  box-shadow: 0 -1px 22.5px -2px #000000;
  visibility: hidden;
  z-index: -1;
}

/* ********* class add *********** */
.active {
  visibility: visible;
  z-index: 3;
}

.paytitle {
  font-size: 40px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #ffffff;
  color: rgb(151, 151, 151);
}
label {
  font-weight: 700;
  font-size: 14px;
  margin: 5px;
}

.payInput {
  padding: 10px;
  margin: 8px 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.payInput::placeholder {
  color: rgb(146, 146, 146);
}
.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardinfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: 7px;
  background-color: rgba(6, 136, 6, 0.932);
  width: 500px;
  border: 0.1px solid grey;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.payButton:hover {
  background: rgb(0, 172, 0);
}

.closeBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  background: grey;
  color: #fff;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}
.closeBtn:hover {
  background: rgba(223, 223, 223, 0.952);
  color: grey;
}

.productImg {
  width: 50%;
}
.productdetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
}
.productTittle {
  font-size: 60px;
  font-weight: 900;
}

.productPrice {
  font-size: xx-large;
  font-weight: 400;
}
.productDesc {
  color: rgb(88, 88, 88);
  font-weight: 700;
}
.colors,
.sizes {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 20px;
}
.color {
  border: 0.1px solid #ababab;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.color:nth-child(2) {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid rgb(43, 43, 43);
  margin-right: 10px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.size:hover {
  color: rgb(46, 46, 46);
}

.productbutton {
  padding: 10px;
  font-size: 18px;
  float: right;
  margin-right: 30%;
  background: rgba(4, 131, 4, 0.945);
  border: 0.1px solid grey;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.productbutton:hover {
  color: rgba(4, 131, 4, 0.945);
  background: #fff;
}

/* ! gallery */

.gallery{
    padding: 50px;
    display: flex;
}

.galleryItem{
    flex: 1;
    padding: 50px;
}
.galleryimg{
    width: 100%;
}
.newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  
  


/* responsive */
@media screen and (max-width:480px){
   
  nav{
    padding: 20px;
  }
   
  .search{
    display: none;

  }
  .navbottom{
    flex-wrap: wrap;
    /* margin-right: 30px; */
    
  }
     .menuItems{
       margin: 20px;
       font-weight: 400;
       font-size: 20px
     }
    
     .slider{
       clip-path: none;
     }
     .sliderimg{
       width: 90%;
     }
     .sliderBg{
       width: 100%;
       height: 100%;
     }
     .sliderTittle{
       display: none;
     }
     .sliderPrice{
       left: 2%;
       top: unset;
       bottom: -9%;
       background-color: rgb(255, 255, 255);
       border-radius:50%;
       padding: 10px;
       width: 160px;
       height: 80px;
      
     }
     .bybtn{
       bottom: 3%;
       right: 2%;
       border-radius: 6px;
       font-weight: 700;
       padding: 8px;
       top: unset;
     }
     .fetures{
       flex-direction: column;
     }
     .product{
       clip-path: none;
       display: flex;
       align-items: center;
       /* justify-content: center; */
       flex-direction: column;
       align-items:center;
     }
     .productdetails{
      top: 20%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
     }
     .gallery{
       display: flex;
       flex-direction: column;
       padding: 20px;
     }
     .galleryItem{
       padding: 20px;
     }
     .newSeason{
       flex-direction: column;
     }
     .nsItem:nth-child(2){
       text-align: center;
       padding: 50px;
     }
     footer{
       flex-direction: column;
       align-items: center;
     }
     .footerRightMenu{
       padding: 10px;
       
     }
     .footerRight{
       margin-top: -80px;
     }
     .payment{
       width: 280px;
       height: 680px;

     }
     .payButton{
       width: 280px;
       bottom: 20px;
     }
     
}
